<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crud Node</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="grey lighten-3">
<style>
    body{
        margin: 0;
        padding: 0;
    }
</style>
        <nav>
        <div class="nav-wrapper indigo darken-2">
          <a href="#" class="brand-logo center">Crud  NodeJs</a>
        </div>
      </nav>
